<template>
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <div class="">Example Component</div>

                    <div class="">
                        I'm an example component!
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
