//@import "variables";

.port, .rearport {
  border: 1px solid #4B535B;
  min-width: 32px;
  padding: 4px 4px 2px;
  text-align: center;
}
.port.up, .rearport.up {
  background-color: #00b050;
  font-weight: bold;
  color: black;
  border-color: black;
}

span.port, span.rearport {
  display: inline-block;
}

.odp-port {
  @media(max-width: $screen-sm-max) {
    a.btn {
      display: block;
      margin-top: 12px;
      width: fit-content;
    }
  }
}

.tubecore {
  display: flex;
  align-items: center;

  .tube {
    height: 15px;
    flex-grow: 1;
  }

  .core {
    height: 5px;
    flex-grow: 4;
  }
}

@import "corecolor";
