@import "variables";

.overflow-h { overflow-x: auto; }

.flex-h {
  display: flex;
}

.flex-v {
  display: flex;
  flex-direction: column;
  margin-right: 19px;
}

.width-full {
  display: block;
  width: 100%;
}

@media(max-width: $screen-xs-max) {
  .m-xs-t-5 {
    margin-top: 5px;
  }
  .m-xs-t-10 {
    margin-top: 10px;
  }
  .m-xs-t-20 {
    margin-top: 20px;
  }

  .m-xs-b-20 {
    margin-bottom: 20px;
  }

  .width-xs-full {
    width: 100%;
  }
}

@media(min-width: $screen-md-min) {
  .m-md-t-5 {
    margin-top: 5px;
  }

  .m-md-l-5 {
    margin-left: 5px;
  }
  .m-md-l-10 {
    margin-left: 10px;
  }

  .block-md-inline {
    display: inline-block;
  }
}
